
{% include "opinions/base.html" %}

{% load static %}





{% block content %}

    <style>


        body{


            background-color: gray;

        }



    </style>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h3> Zakończono reset hasła </h3>

        <hr>

        <p> Twoje hasło zostało zmienione. Możesz się zalogować. </p>

        <a href="{% url 'logowanie' %}" class="btn btn-primary my-2"> Zaloguj się </a>


    </div>


{% endblock %}


